.boxContainer {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #97f8fb43;
    width: 200px;
    height: 150px;
    margin-bottom: 20px;
  }
  
  .image {
    max-width: 100%;
    border-radius: 10px;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .status {
    text-align: center;
    height: 500%; /* Set height to 50% */
    display: flex;
    align-items: center; /* Center vertically */
  }

  .name {
    /* Add any additional styling you want for the content */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;

  }
  